@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i);





body {
  font-family: Poppins;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4.25rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.875rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.06rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.7rem;
    font-size: calc( 0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn .mbr-iconfont {
  font-size: 1.6rem;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #4284df !important;
}
.bg-success {
  background-color: #9473d2 !important;
}
.bg-info {
  background-color: #7237a2 !important;
}
.bg-warning {
  background-color: #f8f9c4 !important;
}
.bg-danger {
  background-color: #efefef !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #4284df !important;
  border-color: #4284df !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #4284df !important;
  border-color: #4284df !important;
}
.btn-primary:before {
  background-color: #1f5eb6 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1f5eb6 !important;
  border-color: #1f5eb6 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
}
.btn-secondary:before {
  background-color: #eb3934 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #eb3934 !important;
  border-color: #eb3934 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #7237a2 !important;
  border-color: #7237a2 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #7237a2 !important;
  border-color: #7237a2 !important;
}
.btn-info:before {
  background-color: #4a2469 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #4a2469 !important;
  border-color: #4a2469 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
}
.btn-success:before {
  background-color: #693cbc !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #693cbc !important;
  border-color: #693cbc !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
  color: #aaac12 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #aaac12 !important;
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
}
.btn-warning:before {
  background-color: #f0f27f !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #aaac12 !important;
  background-color: #f0f27f !important;
  border-color: #f0f27f !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #efefef !important;
  border-color: #efefef !important;
  color: #707070 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #707070 !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-danger:before {
  background-color: #c9c9c9 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #707070 !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white:before {
  background-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black:before {
  background-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #1b53a0;
  color: #1b53a0;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  border-color: #4284df;
}
.btn-primary-outline:before {
  background-color: #4284df;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #4284df !important;
  border-color: #4284df !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #e9221d;
  color: #e9221d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  border-color: #f27d7a;
}
.btn-secondary-outline:before {
  background-color: #f27d7a;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #3c1d56;
  color: #3c1d56;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  border-color: #7237a2;
}
.btn-info-outline:before {
  background-color: #7237a2;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7237a2 !important;
  border-color: #7237a2 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #5e36a9;
  color: #5e36a9;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  border-color: #9473d2;
}
.btn-success-outline:before {
  background-color: #9473d2;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #edf067;
  color: #edf067;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #aaac12;
  border-color: #f8f9c4;
}
.btn-warning-outline:before {
  background-color: #f8f9c4;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #707070;
  border-color: #efefef;
}
.btn-danger-outline:before {
  background-color: #efefef;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  border-color: #333333;
}
.btn-black-outline:before {
  background-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  border-color: #ffffff;
}
.btn-white-outline:before {
  background-color: #ffffff;
}
.btn-bgr {
  position: relative;
  transition: border 0.3s ease-in-out, color 0.5s;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}
.btn-bgr span {
  position: relative;
  z-index: 12;
}
.btn-bgr:before {
  content: ' ';
  position: absolute;
  top: -2px;
  left: -2px;
  right: 105%;
  bottom: -2px;
  transition: right 0.3s ease-in-out;
  z-index: -1;
  border-radius: 100px;
}
.btn-bgr:hover:before {
  right: -2px;
}
.btn-underline {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: color 0.2s ease-out;
}
.btn-underline:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4284df;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
.btn-underline:hover:before {
  width: 100%;
}
.text-primary {
  color: #4284df !important;
}
.text-secondary {
  color: #f27d7a !important;
}
.text-success {
  color: #9473d2 !important;
}
.text-info {
  color: #7237a2 !important;
}
.text-warning {
  color: #f8f9c4 !important;
}
.text-danger {
  color: #efefef !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #1b53a0 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #e9221d !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #5e36a9 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #3c1d56 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #edf067 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #bcbcbc !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #7237a2;
}
.alert-warning {
  background-color: #f8f9c4;
}
.alert-danger {
  background-color: #efefef;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #4284df;
  border-color: #4284df;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #4284df;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f0f6fd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b083d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Roboto', sans-serif;
  font-size: 1.06rem;
  font-weight: 300;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.696rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #4284df;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #4284df;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #4284df;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #4284df;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #4284df;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
/* Content */
.content11 .counter-container div .counter {
  background: #4284df;
}
.content11 .counter-container div .counter {
  border-radius: 50%;
}
/*Menu*/
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.4rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.696rem;
}
.display-7 {
  font-weight: 300;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.cid-qQSaIHVkvG .navbar {
  padding: .5rem 0;
  background: #ffffff;
  transition: none;
  min-height: 50px;
}
.cid-qQSaIHVkvG .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-qQSaIHVkvG a {
  font-style: normal;
}
.cid-qQSaIHVkvG .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qQSaIHVkvG .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0 .65rem !important;
}
.cid-qQSaIHVkvG .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qQSaIHVkvG .content-text {
  margin-bottom: 0;
}
.cid-qQSaIHVkvG .navbar-nav {
  position: relative;
  min-height: 49px;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media (min-width: 992px) {
  .cid-qQSaIHVkvG .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #4284df;
    -webkit-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    -moz-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-qQSaIHVkvG .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
}
.cid-qQSaIHVkvG .navbar-nav .nav-item span {
  padding-right: 0;
}
.cid-qQSaIHVkvG .navbar-nav .nav-item a {
  margin: 0 1.3rem !important;
}
.cid-qQSaIHVkvG .display-4 > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-qQSaIHVkvG .display-4 > .btn > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-qQSaIHVkvG .nav-dropdown .dropdown-item {
  font-weight: 400;
}
.cid-qQSaIHVkvG .navbar-buttons.mbr-section-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-qQSaIHVkvG .nav-dropdown .link {
  font-weight: 400;
}
.cid-qQSaIHVkvG .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-qQSaIHVkvG .content-right-side {
  text-align: center;
}
.cid-qQSaIHVkvG .menu-content-top {
  display: none;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  transition: min-height 0.25s ease-in-out;
}
.cid-qQSaIHVkvG .content-right-side .content-link {
  margin-left: 2rem;
}
.cid-qQSaIHVkvG .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
.cid-qQSaIHVkvG .widget-icon {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.65rem;
}
.cid-qQSaIHVkvG .info-widget {
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-right: 3rem;
  border-left: 1px solid #e0e0e0;
}
.cid-qQSaIHVkvG .menu-content-right {
  display: flex;
  align-items: center;
}
.cid-qQSaIHVkvG .menu-content-right .info-widget:last-child {
  padding-right: 0;
}
.cid-qQSaIHVkvG .menu-content-right .info-widget:first-child {
  padding-left: 0;
  border-left: none;
}
.cid-qQSaIHVkvG .widget-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.cid-qQSaIHVkvG .widget-content .widget-title {
  font-weight: 600;
  margin-bottom: 7px;
}
.cid-qQSaIHVkvG .widget-content .widget-text {
  margin-bottom: 0;
}
.cid-qQSaIHVkvG .menu-bottom {
  display: flex;
  width: 100%;
  padding: 0 2rem;
  position: relative;
}
@media (min-width: 992px) {
  .cid-qQSaIHVkvG .navbar .menu-content-top {
    display: flex;
    min-height: 83px;
    height: 100%;
  }
  .cid-qQSaIHVkvG .content-right-side {
    text-align: right;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
  }
  .cid-qQSaIHVkvG .menu-content-top {
    border-bottom: 1px solid #e0e0e0;
  }
  .cid-qQSaIHVkvG .navbar {
    display: block;
    padding: 0;
  }
  .cid-qQSaIHVkvG .navbar .menu-logo {
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  .cid-qQSaIHVkvG .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: initial;
    align-self: auto;
    display: flex;
    align-items: center;
    z-index: 101;
    min-height: 49px;
  }
  .cid-qQSaIHVkvG .dropdown-item:hover:before {
    transform: scale(1, 1);
    width: 16px;
  }
  .cid-qQSaIHVkvG .navbar-toggler {
    display: none;
  }
  .cid-qQSaIHVkvG .navbar-collapse {
    justify-content: flex-start;
  }
}
.cid-qQSaIHVkvG .navbar-short .menu-content-top {
  height: 0;
  min-height: 0;
  border: none;
}
.cid-qQSaIHVkvG .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qQSaIHVkvG .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-qQSaIHVkvG .menu-logo {
  margin-right: auto;
}
.cid-qQSaIHVkvG .menu-logo .navbar-brand {
  display: flex;
  margin-left: 1.5rem;
  padding: 0.5rem 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qQSaIHVkvG .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qQSaIHVkvG .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qQSaIHVkvG .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qQSaIHVkvG .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qQSaIHVkvG .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qQSaIHVkvG .navbar-toggleable-sm .navbar-collapse {
  width: auto;
}
.cid-qQSaIHVkvG .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qQSaIHVkvG .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qQSaIHVkvG .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qQSaIHVkvG .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qQSaIHVkvG .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 2.5385em 0.235em 3.5385em !important;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qQSaIHVkvG .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qQSaIHVkvG .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  transform: scale(0, 1);
}
.cid-qQSaIHVkvG .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-qQSaIHVkvG .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qQSaIHVkvG .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qQSaIHVkvG .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qQSaIHVkvG .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qQSaIHVkvG .navbar.navbar-short {
  min-height: 50px;
  transition: all .2s;
}
.cid-qQSaIHVkvG .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qQSaIHVkvG .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qQSaIHVkvG .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qQSaIHVkvG .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qQSaIHVkvG button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  margin: 1rem .8rem;
  align-self: center;
}
.cid-qQSaIHVkvG button.navbar-toggler:focus {
  outline: none;
}
.cid-qQSaIHVkvG button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-qQSaIHVkvG button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qQSaIHVkvG button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qQSaIHVkvG button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qQSaIHVkvG button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qQSaIHVkvG nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qQSaIHVkvG nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qQSaIHVkvG nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qQSaIHVkvG nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qQSaIHVkvG .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-qQSaIHVkvG .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-qQSaIHVkvG .collapsed .btn {
  display: flex;
}
.cid-qQSaIHVkvG .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qQSaIHVkvG .collapsed .navbar-collapse.collapsing,
.cid-qQSaIHVkvG .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qQSaIHVkvG .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qQSaIHVkvG .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qQSaIHVkvG .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qQSaIHVkvG .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qQSaIHVkvG .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qQSaIHVkvG .collapsed .navbar-collapse.show .navbar-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
}
.cid-qQSaIHVkvG .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qQSaIHVkvG .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qQSaIHVkvG .collapsed button.navbar-toggler {
  display: block;
}
.cid-qQSaIHVkvG .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-qQSaIHVkvG .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qQSaIHVkvG .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qQSaIHVkvG .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qQSaIHVkvG .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qQSaIHVkvG .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
.cid-qQSaIHVkvG .collapsed .menu-bottom {
  flex-direction: column-reverse;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-qQSaIHVkvG .menu-bottom {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .cid-qQSaIHVkvG img {
    height: 3.8rem !important;
  }
  .cid-qQSaIHVkvG .btn {
    display: flex;
  }
  .cid-qQSaIHVkvG button.navbar-toggler {
    display: block;
  }
  .cid-qQSaIHVkvG .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-qQSaIHVkvG .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qQSaIHVkvG .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qQSaIHVkvG .navbar-collapse.collapsing,
  .cid-qQSaIHVkvG .navbar-collapse.show {
    display: block !important;
  }
  .cid-qQSaIHVkvG .navbar-collapse.collapsing .navbar-nav,
  .cid-qQSaIHVkvG .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qQSaIHVkvG .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qQSaIHVkvG .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qQSaIHVkvG .navbar-collapse.collapsing .navbar-buttons,
  .cid-qQSaIHVkvG .navbar-collapse.show .navbar-buttons {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .cid-qQSaIHVkvG .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qQSaIHVkvG .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qQSaIHVkvG .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qQSaIHVkvG .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qQSaIHVkvG .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qQSaIHVkvG .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
  .cid-qQSaIHVkvG .navbar-buttons.mbr-section-btn {
    width: 100%;
  }
  .cid-qQSaIHVkvG .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
}
.cid-qQSaIHVkvG .navbar-dropdown {
  flex-wrap: nowrap;
}
.cid-qQSaIHVkvG .navbar-collapse {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}
.cid-qQSaIHVkvG .nav-link:focus {
  outline: none;
}
.cid-qQSaIHVkvG .navbar-toggler {
  position: relative;
}
.cid-qQSaIHVkvG .dropdown-item.active,
.cid-qQSaIHVkvG .dropdown-item:active {
  background: #ffffff;
  color: initial;
}
.cid-qQSaIHVkvG .nav-link:hover,
.cid-qQSaIHVkvG .dropdown-item:hover {
  color: #4284df;
}
.cid-qQScIjUojh .modal-body .close {
  background: #1b1b1b;
}
.cid-qQScIjUojh .modal-body .close span {
  font-style: normal;
}
.cid-qQScIjUojh .carousel-inner > .active,
.cid-qQScIjUojh .carousel-inner > .next,
.cid-qQScIjUojh .carousel-inner > .prev {
  display: table;
}
.cid-qQScIjUojh .carousel-control .icon-next,
.cid-qQScIjUojh .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-qQScIjUojh .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qQScIjUojh .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-qQScIjUojh .boxed-slider {
  position: relative;
  padding: 93px 0;
}
.cid-qQScIjUojh .boxed-slider > div {
  position: relative;
}
.cid-qQScIjUojh .container img {
  width: 100%;
}
.cid-qQScIjUojh .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.cid-qQScIjUojh .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-qQScIjUojh .mbr-table-cell {
  padding: 0;
}
.cid-qQScIjUojh .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-qQScIjUojh .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: flex;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-qQScIjUojh .mbr-overlay {
  z-index: 1;
}
.cid-qQScIjUojh .container-slide.container {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-qQScIjUojh .carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@media (max-width: 576px) {
  .cid-qQScIjUojh .carousel-item .container {
    width: 100%;
  }
}
.cid-qQScIjUojh .carousel-item-next.carousel-item-left,
.cid-qQScIjUojh .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.cid-qQScIjUojh .active.carousel-item-right,
.cid-qQScIjUojh .carousel-item-next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.cid-qQScIjUojh .active.carousel-item-left,
.cid-qQScIjUojh .carousel-item-prev {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.cid-qQScIjUojh .mbr-slider .carousel-control {
  top: 50%;
  width: 70px;
  height: 70px;
  margin-top: -1.5rem;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all .3s;
}
.cid-qQScIjUojh .mbr-slider .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-qQScIjUojh .mbr-slider .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-qQScIjUojh .mbr-slider .carousel-control .mbr-iconfont {
  font-size: 2rem;
}
@media (max-width: 767px) {
  .cid-qQScIjUojh .mbr-slider .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-qQScIjUojh .mbr-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-qQScIjUojh .mbr-slider .carousel-indicators li {
  max-width: 20px;
  width: 20px;
  height: 20px;
  max-height: 20px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: .5;
  transition: all .3s;
}
.cid-qQScIjUojh .mbr-slider .carousel-indicators li.active,
.cid-qQScIjUojh .mbr-slider .carousel-indicators li:hover {
  opacity: .9;
}
.cid-qQScIjUojh .mbr-slider .carousel-indicators li::after,
.cid-qQScIjUojh .mbr-slider .carousel-indicators li::before {
  content: none;
}
.cid-qQScIjUojh .mbr-slider .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 576px) {
  .cid-qQScIjUojh .mbr-slider .carousel-indicators {
    display: none !important;
  }
}
.cid-qQScIjUojh .mbr-slider > .container img {
  width: 100%;
}
.cid-qQScIjUojh .mbr-slider > .container img + .row {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-qQScIjUojh .mbr-slider > .container .carousel-indicators {
  margin-bottom: 3px;
}
@media (max-width: 576px) {
  .cid-qQScIjUojh .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-qQScIjUojh .mbr-slider .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-qQScIjUojh .mbr-slider .mbr-table-cell {
  padding: 0;
}
.cid-qQScIjUojh .carousel-item .container.container-slide {
  position: initial;
  width: auto;
  min-height: 0;
}
.cid-qQScIjUojh .full-screen .slider-fullscreen-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cid-qQScIjUojh .full-screen .slider-fullscreen-image.active {
  display: -o-flex;
}
.cid-qQScIjUojh .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.cid-qQScIjUojh .full-screen .carousel-item .container.container-slide {
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-qQScIjUojh .full-screen .carousel-item .container.container-slide img {
  display: none;
}
.cid-qQScIjUojh .mbr-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cid-qQScIjUojh .mbr-overlay ~ .container-slide {
  z-index: auto;
}
.cid-qQSenIlVHZ {
  padding-top: 120px;
  background-image: url("../../../assets/images/mbr-1576x1080.jpg");
}
.cid-qQSenIlVHZ .container {
  margin-bottom: 15%;
}
.cid-qQSenIlVHZ .content-container .btn-bgr {
  z-index: 0;
}
.cid-qQSenIlVHZ .container-boxes {
  padding-bottom: 90px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  background-color: #ffffff;
}
.cid-qQSenIlVHZ .box-item {
  width: 29%;
  padding: 2.5rem;
}
.cid-qQSenIlVHZ .box-item:first-child {
  background-color: #4284df;
  margin-top: -200px;
}
.cid-qQSenIlVHZ .box-item:nth-child(2) {
  background-color: #04367c;
}
.cid-qQSenIlVHZ .box-item:last-child {
  background-color: #0c57bf;
}
.cid-qQSenIlVHZ .box-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.cid-qQSenIlVHZ .box-list li {
  border-bottom: 1px solid;
  padding: 10px 0 5px;
}
.cid-qQSenIlVHZ .box-list li:last-child {
  border-bottom: none;
}
.cid-qQSenIlVHZ .box-list li span {
  float: right;
  text-align: right;
  padding-left: 0.5rem;
}
.cid-qQSenIlVHZ .media-content {
  -webkit-flex-basis: initial;
  flex-basis: initial;
}
@media (min-width: 992px) {
  .cid-qQSenIlVHZ .media-container-row {
    justify-content: flex-start;
  }
  .cid-qQSenIlVHZ .box-item {
    margin-top: -200px;
    max-width: 400px;
  }
}
@media (max-width: 991px) {
  .cid-qQSenIlVHZ .content-container {
    -webkit-flex-basis: 90%;
    flex-basis: 90%;
  }
  .cid-qQSenIlVHZ .box-item {
    margin-top: 0;
    width: 90%;
  }
  .cid-qQSenIlVHZ .box-item:first-child {
    margin-top: -100px;
  }
}
.cid-qQSg7aQTId {
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-qQSg7aQTId .mbr-figure {
  padding: 0;
}
.cid-qQSg7aQTId .content-row {
  background-color: #0c57bf;
}
.cid-qQSg7aQTId .content-row .media-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("../../../assets/images/background2.jpg");
}
.cid-qQSg7aQTId .content-row .media-content .mbr-overlay {
  background: linear-gradient(90deg, #0c57bf, #6441a5);
}
.cid-qQSg7aQTId .content-row .media-content .content-block {
  z-index: 1;
}
.cid-qQSgOlz8px {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-qQSgOlz8px .mbr-overlay {
  background: linear-gradient(90deg, #ffffff, #1ec5bf);
}
.cid-qQSgOlz8px h3 {
  color: #000000;
  font-weight: 300;
}
.cid-qQSgOlz8px p {
  color: #464646;
}
.cid-qQSgOlz8px h2 {
  color: #000000;
}
.cid-qQSgOlz8px .counter-container {
  color: #767676;
}
.cid-qQSgOlz8px .counter-container div {
  margin-bottom: 1rem;
  padding-left: .5rem;
}
.cid-qQSgOlz8px .media-content {
  padding-right: 1.5rem;
  padding-left: 3rem;
}
@media (max-width: 991px) {
  .cid-qQSgOlz8px .media-content {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
.cid-qQSgOlz8px .mbr-figure:last-of-type {
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-qQSgOlz8px .list-counter {
  float: left;
  font-size: 2rem;
  margin-right: 1rem;
}
.cid-qQSgOlz8px .half-list:nth-of-type(even) {
  display: inline-block;
  width: 48%;
  margin-left: 4%;
}
.cid-qQSgOlz8px .half-list {
  text-align: left;
  display: inline-block;
  width: 48%;
  vertical-align: top;
  margin: 0;
}
@media (max-width: 767px) {
  .cid-qQSgOlz8px .half-list {
    width: 100%;
    margin: 0;
  }
  .cid-qQSgOlz8px .half-list:nth-of-type(even) {
    width: 100%;
    margin: 0;
  }
}
.cid-qQSgOlz8px .mbr-figure {
  padding-right: 1rem;
  -ms-flex-item-align: initial;
  -ms-grid-row-align: initial;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
@media (min-width: 992px) {
  .cid-qQSgOlz8px .mbr-figure {
    padding-left: 1rem;
  }
}
@media (max-width: 991px) {
  .cid-qQSgOlz8px .mbr-figure {
    padding-top: 1rem;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .cid-qQSgOlz8px .mbr-text {
    text-align: center;
  }
}
.cid-qQShUjFyfb {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #cccccc;
}
.cid-qQShUjFyfb .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.cid-qQShUjFyfb .nav-tabs .nav-item {
  border-bottom: 1px solid #4284df;
  display: flex;
  align-items: flex-end;
}
.cid-qQShUjFyfb .nav-tabs .nav-item .nav-link {
  box-sizing: border-box;
  color: #767676;
  font-style: normal;
  font-weight: 500;
  border-radius: 0;
  border: none;
  padding: 0.5rem 1rem 0.7rem;
  margin: 0 !important;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
.cid-qQShUjFyfb .nav-tabs .nav-item .nav-link:hover {
  color: #ffffff;
  background-color: #4284df;
}
.cid-qQShUjFyfb .nav-tabs .nav-item .nav-link:focus {
  color: #4284df;
  box-shadow: none;
  background-color: transparent;
}
.cid-qQShUjFyfb .nav-tabs .nav-item .nav-link.active {
  border-bottom: 3px solid #4284df;
  color: #4284df;
  background: transparent;
  padding: 0.5rem 1rem 0.5rem;
}
.cid-qQShUjFyfb .mbr-section-subtitle {
  color: #767676;
}
.cid-qQShUjFyfb p {
  color: #767676;
}
.cid-qQShUjFyfb .mbr-figure {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-right: 4rem;
}
.cid-qQShUjFyfb .mbr-text {
  word-break: break-word;
}
.cid-qQShUjFyfb .tabs-container {
  width: 100%;
}
@media (max-width: 991px) {
  .cid-qQShUjFyfb .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 2rem;
  }
}
.cid-qQShUjFyfb P {
  text-align: center;
  color: #2c1616;
}
.cid-qQSkgn8APt {
  padding-top: 45px;
  padding-bottom: 45px;
  background: #9473d2;
}
.cid-qQSkgn8APt .images-container.container-fluid {
  padding: 0;
}
.cid-qQSkgn8APt .media-container-row {
  margin: 0 auto;
  align-items: center;
}
.cid-qQSkgn8APt .media-container-row .img-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
}
.cid-qQSkgn8APt .media-container-row .img-item img {
  width: 100%;
}
.cid-qQSkgn8APt .media-container-row .img-item .img-caption {
  background: #ffffff;
  z-index: 2;
  padding: 1rem 1rem;
  word-break: break-word;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
.cid-qQSkgn8APt .media-container-row .img-item .img-caption p {
  margin-bottom: 0;
}
.cid-qQSkgn8APt .media-container-row .img-item.item1 {
  padding: 0 2rem 0 0;
}
.cid-qQSkgn8APt .media-container-row .img-item.item1 .img-caption {
  right: 2rem;
}
@media (max-width: 992px) {
  .cid-qQSkgn8APt .img-item {
    width: 100% !important;
  }
  .cid-qQSkgn8APt .img-item.item1 {
    width: 100%;
    flex-basis: initial !important;
    padding: 0 0 2rem 0 !important;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-qQSkgn8APt .media-container-row .img-item {
    flex-direction: row;
  }
}
.cid-qQSl8y5pS8 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #a58cd2;
}
.cid-qQSl8y5pS8 .card {
  padding: 1rem 1rem 3rem 1rem;
}
.cid-qQSl8y5pS8 .card-img {
  padding-bottom: 2rem;
}
.cid-qQSl8y5pS8 .mbr-text {
  color: #767676;
}
.cid-qQSl8y5pS8 span {
  font-size: 14px;
  color: #ffffff;
}
.cid-qQSl8y5pS8 .mbr-section-btn {
  margin-left: 0;
}
.cid-qQSl8y5pS8 .date span {
  display: inline-block;
  background-color: #f27d7a;
  padding: 0.2rem 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90%;
  overflow: hidden;
}
@media (max-width: 767px) {
  .cid-qQSl8y5pS8 .card-title {
    text-align: center;
  }
  .cid-qQSl8y5pS8 p.mbr-text,
  .cid-qQSl8y5pS8 p.date {
    text-align: center;
  }
}
.cid-qQSo1cKjWW {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #34156b, #6441a5);
}
.cid-qQSo1cKjWW .plan-body .btn-bgr {
  z-index: 0;
}
.cid-qQSo1cKjWW .list-group-item {
  padding: .5rem 3.25rem;
}
.cid-qQSo1cKjWW .price-term {
  display: block;
  line-height: 1;
  margin-top: 0.45rem;
}
.cid-qQSo1cKjWW .plan-title {
  background-color: #4284df;
}
.cid-qQSo1cKjWW .plan-header {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}
.cid-qQSo1cKjWW .plan-body {
  border-radius: 0 0 8px 8px;
}
.cid-qQSo1cKjWW .plan {
  position: relative;
  max-width: 330px;
  padding-right: 0;
  padding-left: 0;
  color: #767676;
}
.cid-qQSo1cKjWW .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  border: 0;
}
.cid-qQSo1cKjWW .plan .list-group-item:last-child {
  border-radius: 8px;
}
.cid-qQSo1cKjWW .plan:nth-child(2) .plan-title {
  background-color: #e5524e;
}
.cid-qQSo1cKjWW .plan-header,
.cid-qQSo1cKjWW .plan-body {
  background-color: #fff;
  border-bottom: solid 2px #ededed;
}
.cid-qQSo1cKjWW .price-figure {
  font-weight: 600;
  color: #232323;
}
.cid-qQSo1cKjWW .price-value {
  font-weight: 700;
  vertical-align: top;
  line-height: 1;
  margin-right: 0.25rem;
}
@media (max-width: 550px) {
  .cid-qQSo1cKjWW .price-figure {
    font-size: 4.25rem;
  }
}
.cid-qQSpeXDKgI {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-qQSpeXDKgI h2,
.cid-qQSpeXDKgI h3,
.cid-qQSpeXDKgI p,
.cid-qQSpeXDKgI h4 {
  color: #0a0a0a;
}
.cid-qQSpeXDKgI .img-block img {
  height: 100%;
  max-height: 600px;
}
.cid-qQSpeXDKgI .mbr-iconfont {
  color: #4284df;
  font-size: 2rem;
}
.cid-qQSpeXDKgI .input {
  margin-bottom: 15px;
}
.cid-qQSpeXDKgI .mbr-text {
  color: #767676;
}
.cid-qQSpeXDKgI a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-qQSpeXDKgI .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-qQSpeXDKgI .input-group-btn {
  display: block;
  text-align: center;
}
.cid-qQSpeXDKgI .form-block {
  padding: 2rem;
  box-shadow: 0 0 5px #a8a8a8;
  background-color: #ffffff;
}
.cid-qQSpeXDKgI .block .form-control {
  padding: 1.07em 1.07em;
}
.cid-qQSpeXDKgI .card-img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  text-align: center;
}
.cid-qQSpeXDKgI .media-container-row {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.cid-qQSpeXDKgI .list-block {
  position: relative;
}
.cid-qQSpeXDKgI .list-block h4,
.cid-qQSpeXDKgI .list-block p {
  padding-left: 3.5rem;
}
.cid-qQSpeXDKgI .card-img {
  display: block;
}
@media (max-width: 767px) {
  .cid-qQSpeXDKgI h2 {
    padding-top: 2rem;
  }
}
@media (min-width: 768px) {
  .cid-qQSpeXDKgI .container > .row > .col-md-6:first-child {
    padding-right: 30px;
  }
  .cid-qQSpeXDKgI .container > .row > .col-md-6:last-child {
    padding-left: 30px;
  }
  .cid-qQSpeXDKgI .img-block-wrap {
    position: relative;
  }
  .cid-qQSpeXDKgI .img-block-wrap .img-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  .cid-qQSpeXDKgI .img-block-wrap .img-block img {
    height: 100%;
  }
  .cid-qQSpeXDKgI .text-content {
    padding-left: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-qQSpeXDKgI .google-map {
    padding-bottom: 2rem;
  }
  .cid-qQSpeXDKgI .img-block {
    overflow: hidden;
  }
}
.cid-qQSph1r0e5 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #a58cd2;
}
.cid-qQSph1r0e5 .mbr-iconfont {
  font-size: 48px;
  padding-right: 1rem;
}
.cid-qQSph1r0e5 .form-block .block .row {
  display: flex;
  justify-content: center;
}
.cid-qQSph1r0e5 a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-qQSph1r0e5 .mbr-form .btn {
  margin: 0;
}
.cid-qQSph1r0e5 .block .form-control {
  padding: 1.07em 1.07em;
}
.cid-qQSph1r0e5 .c-name,
.cid-qQSph1r0e5 .c-email,
.cid-qQSph1r0e5 .input-group-btn {
  padding-left: 7.5px;
  padding-right: 7.5px;
}
.cid-qQSph1r0e5 .input-group-btn .btn {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
@media (min-width: 768px) {
  .cid-qQSph1r0e5 .container > .row > .col-md-6:first-child {
    padding-right: 30px;
  }
  .cid-qQSph1r0e5 .container > .row > .col-md-6:last-child {
    padding-left: 30px;
  }
}
@media (max-width: 499px) {
  .cid-qQSph1r0e5 .form-block {
    padding: 1rem;
  }
}
.cid-qQSpl1qYZs {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #4284df;
}
.cid-qQSpl1qYZs p {
  text-align: center;
}
.cid-qQSpl1qYZs .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-qQSpl1qYZs .btn-underline:hover {
  color: #505050;
}
.cid-qQSpl1qYZs .btn-underline:before {
  background-color: #505050;
}
.cid-qQSpl1qYZs .social-list a:focus {
  text-decoration: none;
}
.cid-qQSpl1qYZs .text-copyright {
  width: 100%;
}
.cid-qQSpl1qYZs .img-logo-footer {
  margin-right: 1rem;
  max-width: 5rem;
}
.cid-qQSpl1qYZs .text-logo-footer {
  display: inline-block;
  vertical-align: middle;
}
.cid-qQSpl1qYZs .logo-footer {
  line-height: normal;
}
.cid-qQSpl1qYZs .copyright {
  display: flex;
  align-items: center;
}
.cid-qQSpl1qYZs .social-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-qQSpl1qYZs .mbr-section-btn {
  font-size: 16px;
}
.cid-qQSpl1qYZs .mbr-section-btn a {
  margin: 0 1rem 0.5rem;
}
